<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../public/css/livro.css">

    <link rel="shortcut icon" href="../../../public/assets/favicon/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <script defer src="../../../public/js/main.js"></script>
    <script defer src="../../../public/js/back_button.js"></script>
    <script defer src="../../../public/js/httpRequests/users.js"></script>

    <title>Décima Primeira - DigiBook</title>
</head>
<body>
    <div id="filter">
        <header>
            <div id="logo"><a href="../index.html">
                <img width="20" height="20" src="../../../public/assets/favicon/logo.png" alt="">Digibook</a>
            </div>
            <nav>
                <ul type="none" id="menu">
                    <li class="menu_li">
                        <a href=".">CLASSES</a>
                        <div></div>
                        <ul type="none" class="dropdown">
                            <span>
                                <li class="menu_li">
                                    <a href="../decima/index.html">10ª Classe</a>
                                    <div></div>
                                </li>
                                <li class="menu_li">
                                    <a href="../decima_1/index.html">11ª Classe</a>
                                    <div></div>
                                </li>
                                <li class="menu_li">
                                    <a href="../decima_2/index.html">12ª Classe</a>
                                    <div></div>
                                </li>
                            </span>
                        </ul>
                    </li>
                    <div id="session_area">
                        <div id="before">
                            <li><a onclick="changeBackPageLocation('../decima_1/index.html')" id="login" href="../login/index.html">Login</a></li>
                            <li><a onclick="changeBackPageLocation('../decima_1/index.html')" id="cadastro" href="../cadastro/index.html">Cadastro</a></li>
                        </div>
                        <div id="after">
                            <p>A</p>
                        </div>
                    </div>
                </ul>
            </nav>
        </header>
    
        <main>
            <section id="amostra_section">
                <div class="container">
                    <h1>Livros Diponíveis</h1>
                    <div class="lib_row_prin">
                        <div class="lib_row_sec">
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/4.jpg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('Empreendedorismo-11ª-Classe', false)" >Detalhes</button>
                                </div>
                                <div class="subtitle">Empreendedorismo 11ª Classe</div>
                            </div>
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/7.jpg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('Língua-Portuguesa-11ª-Classe', false)">Detalhes</button>
                                </div>
                                <div class="subtitle">Língua Portuguesa 11ª Classe</div>
                            </div>
                        </div>
                        <div class="lib_row_sec">
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/11.jpg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('Geologia-11ª-Classe', false)">Detalhes</button>
                                </div>
                                <div class="subtitle">Geologia 11ª Classe</div>
                            </div>
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/15.jpeg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('Matemática-11ª-Classe', false)">Detalhes</button>
                                </div>
                                <div class="subtitle">Matemática 11ª Classe</div>
                            </div>
                        </div>
                    </div>
                    <div class="lib_row_prin">
                        <div class="lib_row_sec">
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/16.jpeg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('Introdução-ao-Direito-11ª-Classe', false)">Detalhes</button>
                                </div>
                                <div class="subtitle">Introdução ao Direito 11ª Classe</div>
                            </div>
                            <div class="lib_card">
                                <div class="img_container">
                                    <img src="../../../public/assets/books/17.jpeg" alt="">
                                </div>
                                <div class="alert">
                                    <button onclick="openDetails('História-11ª-Classe', false)">Detalhes</button>
                                </div>
                                <div class="subtitle">História 11ª Classe</div>
                            </div>
                        </div>
                        <div class="lib_row_sec">
                            <div class="lib_card"></div>
                            <div class="lib_card"></div>
                        </div>
                    </div>
            </section>
            <section id="user_menu">
                <div id="menu_container" class="hide_user_menu">
                    <h2>Olá, Adílio!</h2>
                    <ul type="none">
                        <li id="perfil">Perfil</li>
                        <ul class="user_submenu user_submenu_hidden perfil_menu" type="none">
                            <li id="change_name_li">Alterar nome</li>
                        </ul>
                        <li id="def_Conta">Difinições Da Conta</li>
                        <ul class="user_submenu user_submenu_hidden def_menu" type="none">
                            <li id="change_password_li">Alterar senha</li>
                            <li id="delete_user">Eliminar Conta</li>
                        </ul>
                        <li id="sign_out">Sair</li>
                    </ul>
                </div>

            </section>
            <section id="change_name" class="hide">
                <form id="change_name_form">
                    <div id="close_change_name">
                        <img width="25" src="../../../public/assets/icons/close_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="">
                    </div>
                    <legend>Alterar Nome</legend>
                    <div class="form_alert hide">
                        <p></p>
                    </div>
                    <label for="nome">Nome <br>
                        <input type="text" name="nome" id="nome" required>
                    </label><br>
                    
                    <button id="submit" type="submit">Entrar</button> 
                    <button type="reset">Limpar</button>
                </form>
            </section>
            <section id="change_passowrd" class="hide">
                <form id="change_passowrd_form">
                    <div id="close_change_password">
                        <img width="25" src="../../../public/assets/icons/close_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="">
                    </div>
                    <legend>Alterar Senha</legend>
                    <div class="form_alert hide">
                        <p>Alert</p>
                    </div>
                    <label for="senha_actual">Senha Actual <br>
                        <input type="password" name="senha_actual" id="senha_actual" minlength="8" required autocomplete>
                    </label><br>
                    <label for="senha_nova">Senha Nova<br>
                        <input type="password" name="senha_nova" id="senha_nova" minlength="8" required autocomplete>
                    </label><br>
                    <label for="confirma_senha_nova">Confirmar Senha Nova <br>
                        <input type="password" name="confirma_senha_nova" id="confirma_senha_nova" minlength="8" required autocomplete>
                    </label><br>
                    
                    <button id="submit_password" type="submit">Entrar</button> 
                    <button type="reset">Limpar</button>
                </form>
            </section>
        </main>   
        <footer>
            <div class="container">
                <div id="logo_footer">
                    <a href="../index.html">
                        <h1>
                            <img width="55" src="../../../public/assets/favicon/logo.png" alt="">DigiBook
                        </h1>
                    </a>
                </div>
                <div id="info_footer_container">
                    <div class="foot_info">
                        <h3>Morada:</h3>
                        <p>Angola, Prov+incia de Luanda, bairro do Rangel CTT</p>
                    </div>
                    <div class="foot_info">
                        <h3>Telemóvel:</h3>
                        <p>937156016</p>
                        <p>907156016</p>
                    </div>
                    <div class="foot_info">
                        <h3>email:</h3>
                        <p>digibook@gmail.com</p>
                        <p>digibook@hotmail.com</p>
                    </div>
                </div>
            </div>
            <p>© DigiBook - 2024</p>

        </footer>   
    </div>

    <style>
        main{
            width: 100%;
            margin-top: -5px;
            min-height: 1000px;
            background: rgb(248, 246, 246);
        }
    </style>
</body>
</html>